## Build results
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Visual Studio
.vs/
*.user
*.userosscache
*.suo
*.userprefs

## Rider
.idea/

## NuGet
*.nupkg
*.snupkg
packages/

## Test results
TestResults/

## OS files
.DS_Store
Thumbs.db
